
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
  font-family:"Delius",cursive;
  list-style: none;
  text-decoration: none;
  color: #fffddb;
 }
:root{
  --bgcolor:#131414;
  --primarycolor:#18d5ff;
}
body{
  background-color: var(--bgcolor);
}